@{ var myMessage = "Hello World"; }
<p>The value of myMessage is: @myMessage</p>
@{
var greeting = "Welcome to our site!";
var weekDay = DateTime.Now.DayOfWeek;
var greetingMessage = greeting + " Today is:" + weekDay;
}
<p>The greeting is: @greetingMessage</p>